/* everything in the body tag */
body {
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #00ccff;
  margin: 0%;
  text-transform: capitalize;
}

/*  */
.secureBody{
  background-color: whitesmoke;
}

/* login/signup h1 text */
.headtext{
  text-decoration-line: underline; 
  text-decoration-color: #00ccff;
}

/* login/signup logo */
.doglogo{
  width: 20%;
}

/* login/signup input fields */
input[type=text], input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Login form */
.container {
  margin-top: 10%;
  width: 15%;
  border-radius: 1%;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
  padding-top: 4%;
  background-color: whitesmoke;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, .5);
}

/* login/signup buttons */
.myButton {
  box-shadow: inset 0px -3px 7px 0px #299fff;
  background-color: #00ccff;
  border-radius: 2%;
  border: 1px solid #0b0e07;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: bold;
  padding: 4% 15%;
  width: 100%;
  text-decoration: none;
  text-shadow: 1px 1px 1px  #000000;
}
.myButton:hover {
  background-color: #0688fa;
}
.myButton:active {
  position: relative;
  top: 1px;
}
/* ------------------ */

/* Size for pictures of dogs */
.dogPics{
  width: 50%;
  height: 50%;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, .5);
}

/* topbar navigation */
.topnav {
  overflow: hidden;
  background-color: #00ccff;
  position: sticky; 
  top: 0;
  width: 100%; 
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
  
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #f2f2f2;
  color: black;
}
/* ------------------ */



  
